rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // User-isolated collections & subcollections
    match /users/{userId}/{document=**} {
      allow read, write: if true;
    }

    // Top-level collections
    match /{collectionName}/{docId} {
      allow read, write: if true;
    }
  }
}

